* {
  margin: 0px;
} 
body {
    background-color: rgb(215, 210, 210);
}
.parent {
    background-color:  rgb(22, 154, 139);
    height: 220px;
    width: 1349px;
}
.wicon {
    width: 60px;
    height: 30px;
    margin-top: 35px;
    margin-left: 150px;
}
.text {
    margin-left: 210px; 
    margin-top: -25px;
    color: white;
    font-size: 14px;
}
.content {
    background-color: white;
    width: 900px;
    height: 800px;
    margin-top: -130px;
    margin-left: 230px; 
    display: flex;
    box-shadow: 1px 10px 25px;
}
.box {
    margin-top: 60px;
    margin-left: 50px; 
    width: 530px;
    height: 400px;
    
}
h1 {
    font-weight: 1
  }
  .qr {
    height: 300px;
    margin-top: 40px;
    margin-right: 40px;
  }
  .video {
      /* float: bottom; */
      background-color: whitesmoke;
      width: 900px;
      height: 400px;
      margin-left: 230px; 
      margin-top: -400px;

  }